<h2>All our equipment</h2>

<!--get these on cards with locations-->

<ul>
	<% @equipment.each do |item| %>
	<% owner = User.find(item.user_id) %>
	<li><a href="/equipment/<%= item.id %>"> <%= item.make %> <%= item.typ %> in <%= owner.location %></a></li>
	<% end %>
</ul>
