<div class="profile">
This is <%= @user.name %>'s page<br>
<a class="edit profile" href="/users/<%= @user.id %>/edit">Edit Your Profile</a><br>
<a class="your_equipment" href="/users/<%= @user.id %>/equipment">Your equipment</a><br>
</div>
<div class="list_space"></div>

<div class="login_buttons">
<p>
<a href="/logout"><button>Logout</button></a>
<a href="/users/<%= @user.id %>/equipment/new"><button>Add Equipment</button></a>
</p>
</div>

<div class="sidepic">
