This is <%= @user.name %>'s page<br>
<a href="/users/<%= @user.id %>/edit">Edit Your Profile</a><br>
<a href="/users/<%= @user.id %>/equipment">Your equipment</a><br>
<a href="/logout"><button>Logout</button></a>
<a href="/users/<%= @user.id %>/equipment/new"><button>Add Equipment</button></a>

