<h3>Stop Playing Wagon Wheel!!!!</h3>

<%= link_to 'users', controller: 'users' %>

<!-- have stuff on cards with background images -->

<!-- <a href="/users/new">Sign Up!</a><br>
<a href="/login">Log in</a> -->
