<h3>Stop Playing Wagon Wheel!!!!</h3>

<!-- have stuff on cards with background images -->

<% if !is_auth? %>
<a href="/users/new">Sign Up!</a><br>
<a href="/login">Log in</a>
<% else %>
You're logged in as <%= current_user.name %>.<br><br>
<a href="/users/<%= current_user.id %>">Go to your profile</a><br>
<a href="/logout">Log out</a>


<% end %>

